<!DOCTYPE html>
{% load static %}

<head>
    <title>Login</title>
  </head>
  <body>
    <h1>{{ user.username }}'s Profile</h1>
    <p>Name: {{ user.first_name }} {{ user.last_name }} </p>

    {% if user.is_superuser %}
    <a href="{% url 'regandlogin:reg_user' %}" class="btn btn-primary">Register User</a>
    {% endif %}

    <br><br>
    <a href="{% url 'admin_view:list' %}" class="btn btn-primary">View List</a>
    <br><br>
    <a href="{% url 'admin_view:b_upload' %}" class="btn btn-primary">Bulk Upload of User Data</a>
    <br><br>
    <a href="{% url 'admin_view:export_user_profiles' %}" class="btn btn-primary">Download All of User Data</a>
